.content-container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: flex-start;
 padding-top: 300px;
 padding-left: 8.4%;
 padding-right: 8.4%;
 padding-bottom: 350px;
 border-bottom: 1px solid var(--linhas);
}

.content-container .text-container h1 {
 font-family: 'Bebas';
 font-size: 101px;
 color: var(--font-txt-grandes);
}

.text-container {
 width: 650px;
}

.description-links {
 width: 600px;
}

.description-links h1 {
 font-family: "Manrope-medium";
 font-size: 32px;
 font-weight: 400;
 color: var(--font-txt-grandes);
 padding-bottom: 16px;
}

.description-links p {
 font-family: "Manrope-regular";
 font-size: 18px;
 font-weight: 500;
 color: var(--font-txt-menores);
 padding-bottom: 32px;
}

.description-links a {
 color: var(--btn-link);
 text-decoration: none;
 border-bottom: 1px solid var(--btn-link);
 padding-bottom: 4px;
 font-family: "Manrope-bold";
 font-size: 16px;
}

@media (max-width: 1440px) {
 .content-container .text-container h1 {
  font-size: 90px;
 }

 .description-links h1 {
  font-size: 28px;
 }

 .description-links p {
  font-size: 14px;
 }

 .content-container {
  padding-top: 260px;
  padding-bottom: 290px;
 }
}