<a id="about"></a>
<div class="content-container">
 <div class="text-container">
  <h1>about me</h1>
 </div>
 <div class="description-links">
  <h1>I'm a full stack developer. Studying Computer Science at the Federal University of Bahia (UFBA).</h1>
  <p>I'm a full stack developer looking for interesting opportunities. 
   I am studying computer science at UFBA. 
   I like to focus on accessibility during development. 
   Passionate and curious about solving problems. 
   I am currently exploring the area of ​​automation, but I have solid experience in developing and maintaining websites and creating 
   scripts for databases. While I'm not programming, I like to play football, play video games and work out. 
   I am always looking to improve professionally and as a person.</p>
  <!-- <a href="#">MORE ABOUT ME</a> -->
 </div>
</div>