<header>
 <nav>
  <div class="nome-container">
   <h1>CAIO PEREIRA</h1>
  </div>
  <div class="menu-container">
   <ul>
    <li><a href="#">Work</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
   </ul>
  </div>
 </nav>
 <div class="content-container">
  <div class="apresentation-container">
   <h1>HI, I AM<br>CAIO PEREIRA.</h1>
   <p>A Sydney based front-end developer passionate about building<br> accessible and user friendly websites.</p>
   <div class="buttons-container">
    <button class="btn-contact-me">CONTACT ME</button>
   </div>
  </div>
  <div class="image-container">
   <img src="../../../assets/images/ft.jpg">
  </div>
 </div>
 <hr>
</header>

