header {
 display: block;
 padding-bottom: 170px;
 // padding-right: 8.4%;
 // padding-left: 8.4%;
 padding-top: 30px;
 border-bottom: 1px solid var(--linhas);
 width: 100%;
}

header nav {
 background: var(--fundo);
 display: flex;
 justify-content: space-between;
 align-items: flex-end;
 padding-left: 3%;
 padding-right: 3%;
}

.button-menu {
 color: var(--font-txt-menores);
 display: none;
}

header nav .nome-container h1 {
 font-family: 'Bebas';
 color: var(--font-txt-menores);
 padding-top: 24px;
 font-size: 44px;
}

header nav .menu-container {
 font-family: 'Inter';
}

header nav .menu-container li {
 display: inline;
}

.gitHubIcon {
 color: var(--btn-link);
 background-color: var(--fundo-btn-contact);
 font-size: 26px;
}

header nav .menu-container li a {
 font-size: 20px;
 color: var(--font-txt-menores);
 display: inline-block;
 padding: 20px;
 text-decoration: none;
 transition: background .3s;
}

header nav .menu-container li a:hover {
 background-color: var(--btn-link);
}

header .content-container h1 {
 font-family: 'Bebas';
 font-size: 101px;
 color: var(--font-txt-grandes);
}

header .content-container p {
 font-family: 'Manrope-regular';
 font-size: 18px;
 color: var(--font-txt-menores);
}

header .buttons-container .btn-contact-me {
 background-color: var(--btn-link);
 color: var(--fundo-btn-contact);
 font-family: 'Inter';
 font-size: 16px;
 font-weight: 600;

 width: 200px;
 margin: 30px;
 margin-left: 0;
 padding: 15px;
 border: 2px solid var(--btn-link);
 border-radius: 30px;
 cursor: pointer;
}

header .content-container {
 display: flex;
 align-items: center;
 padding-top: 100px;
 padding-left: 8.4%;
 padding-right: 8.4%;
}

header .content-container .apresentation-container {
 display: inline-block;
 width: 100%;
}

header .image-container img {
 border-radius: 20px;
}

.buttons-container {
 align-items: center;
 display: flex;
}

.icon-button {
 height: 54px;
 width: 54px;
 background-color: var(--fundo-btn-contact);
 margin-right: 16px;
 border-radius: 100%;
 border: 0;
 cursor: pointer;
 color: var(--btn-link);
 font-size: 24px;
 font-weight: 700;
}

// Properties for screens size 1201px - 1440px
@media (max-width: 1440px){
 header {
  padding-bottom: 130px;
  padding-top: 20px;
 }
 
 header .content-container {
  padding-top: 60px;
 }

 header .content-container h1 {
  font-size: 90px;
 }

 header .content-container p {
  font-size: 14px;
 }

 header .buttons-container .btn-contact-me {
  font-size: 12px;
  width: 150px;
 }

 header .image-container img {
  height: 540px;
  width: 540px;
 }

 header nav .nome-container h1 {
  font-size: 38px;
 }

 header nav .menu-container li a {
  font-size: 16px;
 }
}

// Properties for screens size 993px - 1200px
@media (max-width: 1200px){
 header {
  padding-top: 10px;
  padding-bottom: 170px;
 }
 
 header .content-container {
  padding-top: 100px;
 }

 header .content-container h1 {
  font-size: 76px;
 }

 header .content-container p {
  font-size: 12px;
 }

 header .buttons-container .btn-contact-me {
  font-size: 10px;
  width: 120px;
  padding: 12px;
 }

 header .image-container img {
  height: 450px;
  width: 450px;
 }

 header nav .nome-container h1 {
  font-size: 32px;
 }

 header nav .menu-container li a {
  font-size: 14px;
 }

 .icon-button {
  height: 45px;
  width: 45px;
  font-size: 20px;
 }

 .gitHubIcon {
  font-size: 22px;
 }
}

// Properties for screens size 968px - 992px
@media (max-width: 992px){
 header {
  padding-bottom: 130px;
  padding-top: 20px;
 }
 
 header .content-container {
  padding-top: 60px;
 }

 header .content-container h1 {
  font-size: 90px;
 }

 header .content-container p {
  font-size: 14px;
 }

 header .buttons-container .btn-contact-me {
  font-size: 12px;
  width: 150px;
 }

 header .image-container img {
  height: 540px;
  width: 540px;
 }

 header nav .nome-container h1 {
  font-size: 38px;
 }

 header nav .menu-container li a {
  font-size: 16px;
 }
}

// Properties for screens size 768px - 967px
@media (max-width: 967px){
 header .content-container h1 {
  font-size: 80px;
 }

 header .buttons-container .btn-contact-me {
  width: 120px;
 }

 header .image-container img {
  height: 440px;
  width: 440px;
 }
}

// Properties for screens size 768px - 767px
@media (max-width: 767px){
 .button-menu {
  display: block;
 }

 header .content-container {
  flex-direction: column;
 }

 header .content-container .apresentation-container {
  width: 540px;
 }

 header .content-container h1 {
  font-size: 104px;
 }

 header .content-container p {
  font-size: 18px;
 }

 header .buttons-container .btn-contact-me {
  font-size: 14px;
  width: 180px;
 }

 header .image-container img {
  height: 540px;
  width: 540px;
  margin-top: 20px;
 }

 header nav .menu-container li a {
  display: none;
 }
}