<head>
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
 <style>
  .gitHubIcon {
   color: var(--btn-link);
   background-color: var(--fundo);
   font-size: 26px;
  }
 </style>
</head>

<a id="work"></a>
<div class="content-container">
 <div class="apresentation-container">
  <h1>Featured Projects</h1>
  <p>Here are some of the selected projects that showcase my passion<br>for front-end development and automation.</p>
 </div>
 <div class="projects-container">
  <div class="projects-images">
   <img src="./assets/images/land-page.png">
  </div>
  <div class="projects-description">
   <div class="text-description">
    <h3>Landing page for a conceptual company</h3>
    <p>Website to capture leads - landing page - for a conceptual company made to improve web development skills. Delivered a fully responsive design with dynamic content capabilities</p>
    <h2>PROJECT INFO</h2>
    <div class="text-info">
     <p>Year</p>
     <span>2024</span>
    </div>
    <div class="text-info">
     <p>Role</p>
     <span>Front-end Developer</span>
    </div>
    <div class="projects-links">
     <a href="https://caiowmp.github.io/land-page/" target="_blank">LIVE DEMO</a>
     <a href="https://github.com/caiowmp/land-page" target="_blank">SEE ON GITHUB<i class="fa-brands fa-github gitHubIcon"></i></a>
    </div>
   </div>
  </div>
 </div>
 <div class="projects-container">
  <div class="projects-images">
   <img src="./assets/images/bot-betfair.png">
  </div>
  <div class="projects-description">
   <div class="text-description">
    <h3>Automation to interpret images and notify the user when something specific happens</h3>
    <p>Developed in Python, this automation aims to check the latest casino roulette results and notify the user when a pattern appears. Done independently for a client.</p>
    <h2>PROJECT INFO</h2>
    <div class="text-info">
     <p>Year</p>
     <span>2023</span>
    </div>
    <div class="text-info">
     <p>Role</p>
     <span>Automation Developer</span>
    </div>
    <div class="projects-links">
     <a href="https://github.com/caiowmp/bot-anallise-roletas-betfair" target="_blank">SEE ON GITHUB<i class="fa-brands fa-github gitHubIcon"></i></a>
    </div>
   </div>
  </div>
 </div>
 <div class="projects-container">
  <div class="projects-images">
   <img src="./assets/images/portal-sagres.png">
  </div>
  <div class="projects-description">
   <div class="text-description">
    <h3>Website development and maintenance</h3>
    <p>Together with my development team, I develop and maintain educational websites working for TecnoTrends, which has large clients such as the Bahia State University (UNEB) and the Bahia School of Medicine and Public Health.</p>
    <h2>PROJECT INFO</h2>
    <div class="text-info">
     <p>Year</p>
     <span>2024</span>
    </div>
    <div class="text-info">
     <p>Role</p>
     <span>Full Stack Developer</span>
    </div>
    <div class="projects-links">
     <a href="https://portalacademico.uneb.br/PortalSagres/Acesso.aspx" target="_blank">VIEW PROJECT</a>
    </div>
   </div>
  </div>
 </div>
</div>