.content-container {
 padding-top: 100px;
 padding-left: 8.4%;
 padding-right: 8.4%;
 padding-bottom: 100px;
 border-bottom: 1px solid var(--linhas);
}

.content-container h1 {
 font-family: 'Bebas';
 font-size: 101px;
 color: var(--font-txt-grandes);
}

.content-container p {
 font-family: 'Manrope-regular';
 font-size: 18px;
 color: var(--font-txt-menores);
 padding-bottom: 80px;
}

.apresentation-container {
 display: inline-block;
 width: 650px;
}

.projects-container {
 display: flex;
 align-items: center;
 padding-bottom: 150px;
 justify-content: space-between;
}

.projects-container .projects-images {
 background-color: var(--fundo-projects);
 border-radius: 12px;
 width: 650px;
 height: 550px;
 align-items: center;
 display: flex;
 justify-content: center;
}

.projects-container .projects-description {
 width: 600px;
}

.projects-container .projects-description .text-description h3 {
 font-family: "Manrope-medium";
 font-size: 32px;
 font-weight: 400;
 color: var(--font-txt-grandes);
 padding-bottom: 16px;
}

.projects-container .projects-description .text-description p {
 font-family: "Manrope-regular";
 font-size: 18px;
 font-weight: 500;
 color: var(--font-txt-menores);
 padding-bottom: 32px;
}

.projects-container .projects-description .text-description h2 {
 font-family: "Manrope-semibold";
 font-size: 16px;
 font-weight: 600;
 color: var(--font-txt-grandes);
 padding-bottom: 16px;
 border-bottom: 0.1px solid var(--font-txt-menores);
}


.projects-container .projects-description .text-description .text-info {
 font-family: "Manrope-medium";
 font-size: 16px;
 font-weight: 400;
 color: var(--font-txt-grandes);
 padding: 16px 0;
 display: flex;
 border-bottom: 0.1px solid var(--font-txt-menores);
 justify-content: space-between;
}

.projects-container .projects-description .text-description .text-info p {
 color: var(--font-txt-grandes);
 padding: 0%;
}

.projects-container .projects-description .text-description .text-info span {
 color: var(--font-txt-menores);
}

.projects-container .projects-description .text-description .projects-links {
 padding-top: 48px;
 font-family: "Manrope-bold";
 font-size: 16px;
}

.projects-container .projects-description .text-description .projects-links i {
 padding-left: 6px;
 font-size: 16px
 ;
}

.projects-container .projects-description .text-description .projects-links a {
 color: var(--btn-link);
 text-decoration: none;
 border-bottom: 1px solid var(--btn-link);
 padding-bottom: 4px;
}

.projects-container .projects-description .text-description .projects-links a:last-child {
 margin-left: 24px;
}

.projects-container .projects-description .text-description .projects-links a:first-child {
 margin-left: 0;
}

.projects-container .projects-images img {
 border-radius: 12px;
 width: 486px;
 height: 347px;
} 

@media (max-width: 1440px){
 .content-container h1 {
  font-size: 90px;
 }

 .content-container p {
  font-size: 14px;
 }

 .projects-container .projects-images {
  width: 550px;
  height: 450px;
 }

 .projects-container .projects-description {
  width: 550px;
 }

 .projects-container .projects-description .text-description h3 {
  font-size: 28px;
 }

 .projects-container .projects-description .text-description p {
  font-size: 14px;
 }

 .projects-container .projects-description .text-description h2 {
  font-size: 14px;
 }
 
 .projects-container .projects-description .text-description .text-info {
  font-size: 14px;
 }

 .projects-container .projects-description .text-description .projects-links {
  font-size: 14px;
 }

 .apresentation-container {
  width: 550px;
 }
}