<head>
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
 <style>
  .gitHubIcon {
   color: var(--btn-link);
   background-color: var(--fundo);
   font-size: 26px;
  }
 </style>
</head>

<a id="connect"></a>
<div class="content-container">
 <h1>Let’s connect</h1>
 <div class="text-container">
  <p class="p-regular">Say hello at</p>
  <a>contato.caiomp&#64;gmail.com</a>
 </div>
 <div class="text-container">
  <p>For more info, here’s my</p>
  <a href="assets/documents/Curriculo.pdf" download="Curriculo.pdf">resume</a>
 </div>
 <div class="icons-container">
  <a href="https://www.linkedin.com/in/caio-miranda-183112204/" target="_blank">in</a>
  <a href="https://github.com/caiowmp" target="_blank"><i class="fa-brands fa-github gitHubIcon"></i></a>
 </div>
 <p>© 2024 Caio Pereira</p>
</div>