
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portifolio-primary: mat.define-palette(mat.$indigo-palette);
$portifolio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$portifolio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$portifolio-theme: mat.define-light-theme((
  color: (
    primary: $portifolio-primary,
    accent: $portifolio-accent,
    warn: $portifolio-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($portifolio-theme);



@font-face {
 font-family: 'Bebas';
 src: url('/assets/fonts/BEBAS NEUE/BebasNeue-Regular.ttf') format('truetype');
 font-weight: 400;
 font-style: normal; 
}

@font-face {
 font-family: 'Manrope-regular';
 src: url('/assets/fonts/Manrope/Manrope-Regular.ttf') format('truetype');
 font-weight: 400;
 font-size: normal;
}

@font-face {
 font-family: 'Manrope-medium';
 src: url('/assets/fonts/Manrope/Manrope-Medium.ttf') format('truetype');
 font-weight: 500;
 font-size: normal;
}

@font-face {
 font-family: 'Manrope-bold';
 src: url('/assets/fonts/Manrope/Manrope-Bold.ttf') format('truetype');
 font-weight: 700;
 font-size: normal;
}

@font-face {
 font-family: 'Manrope-semibold';
 src: url('/assets/fonts/Manrope/Manrope-SemiBold.ttf') format('truetype');
 font-weight: 600;
 font-size: normal;
}

@font-face {
 font-family: 'Inter';
 src: url('/assets/fonts/Inter/Inter-Medium.ttf') format('truetype');
 font-weight: 500;
 font-size: normal;
}

:root {
 --fundo: #0A0A0A;
 --font-txt-menores: #C7C7C7;
 --font-txt-grandes: #FFFFFF;
 --btn-link: #D3E97A;
 --fundo-projects: #1A1A1A;
 --fundo-btn-contact: #222222;
 --linhas: #313131;
}

* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

body {
 height: 100%;
 width: 100%;
 background-color: var(--fundo);
 overflow-x: hidden; /* Hide horizontal scrollbar */
 max-width: 1080px;
}

html {
 scroll-behavior: smooth;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//1450 já começa a ficar mutio junto, quebrar linha
//840 limite de tudo alinhado, depois daí vai quebrar tudo por causa dos paddings fixos
// Aaparecer botão de menu e esconder menu convencional
//320 é o ideal, diminuir fontes de acordo com a tela para ficar tudo proporcional